@import "tailwindcss";
@source "../../../../apps/client-admin";
@source "../../../../apps/client-user";

:root {
  --black: rgb(23, 23, 23);
  --yellow: rgb(177, 177, 15);
}

body {
  background-color: var(--black);
  color: var(--black);
}

input {
  border: 1px solid var(--black);
}

input:focus {
  outline: 2px solid black;
}

input:-webkit-autofill {
  /* le navigateur impose son fond, force une transition invisible */
  transition: background-color 9999s ease-in-out 0s;
}

li,
button {
  cursor: pointer;
}
